In [47]:
import os
import collections

#input directory
dir = '2016-train'

files = os.listdir(dir)
data = collections.defaultdict(dict)
for fileName in files:
    if fileName[0] =='.':
        continue
    with open(os.path.join(dir,fileName),'r') as file:
        
        annotations = [line.strip().split() for line in file]
        
        if 'ann1' in fileName:
            fileName = fileName.split('.')[0]
            data[fileName]['ann1'] = annotations
        else:
            fileName = fileName.split('.')[0]
            data[fileName]['ann2'] = annotations

In [43]:
import pandas as pd

rawData = list()

for k,v in data.items():
    
    for a,b in zip(v['ann1'],v['ann2']):
        row={}
        row['article'] = k
        if (len(a)==2 and len(b)==2):
#                 print(a[0],a[1],b[1])
            if a[0] == b[0]:
                row['token'] = a[0]
                row['ann1'] = a[1]
                row['ann2'] = b[1]
                if a[1]!=b[1]:
                    row['diff']='T'
                else:
                    row['diff'] ='F'
                rawData.append(row)
            else:
                print(k)
        else:
            print(k)
            print(a,b)

2016-42-2-245-275
[] []
2016-42-2-245-275
[] []
2016-42-2-245-275
['O'] ['O']

In [40]:
len(rawData)

2171

In [44]:
df = pd.DataFrame(rawData)
df

                article        token ann1 ann2 diff
0     2016-42-3-391-419         From    O    O    F
1     2016-42-3-391-419          the    O    O    F
2     2016-42-3-391-419  perspective    O    O    F
3     2016-42-3-391-419           of    O    O    F
4     2016-42-3-391-419   structural    B    B    F
...                 ...          ...  ...  ...  ...
2166  2016-42-2-277–306        other    O    O    F
2167  2016-42-2-277–306    languages    O    O    F
2168  2016-42-2-277–306          and    O    O    F
2169  2016-42-2-277–306      domains    B    O    T
2170  2016-42-2-277–306            .    O    O    F

[2171 rows x 5 columns]

In [45]:
df.to_csv('2016-train.csv',index=False)

In [50]:
id = set(df['article'].to_list())
id

# for name in id:
#     data = ann_df[ann_df.id==i]
#     data = data[['token','final']]
#     data = data.values.tolist()
#     with open(f'final/train/{name}.ann1','w') as file:
#         for row in data:
#             line = " ".join(row)+"\n"
#             file.write(line)

{'2016-42-1-121–161',
 '2016-42-1-91–120',
 '2016-42-2-245-275',
 '2016-42-2-277–306',
 '2016-42-2-307-343',
 '2016-42-3-391-419',
 '2016-42-4-637–660',
 '2016-42-4-661–701'}